<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BetkjMapper">
    
    <resultMap type="com.ruoyi.system.domain.vo.BetkjRespVo" id="BetkjResult">
        <result property="periods"    column="periods"    />
        <result property="status"    column="status"    />
        <result property="betOpenTime"    column="bet_open_time"    />
        <result property="openResult"    column="open_result"    />
        <result property="countMoney"    column="count_money"    />
        <result property="winMoney"    column="win_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.GameListRespVO" id="GameListResult">
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="periods"    column="periods"    />
        <result property="recordTime"    column="record_time"    />
        <result property="countMoney"    column="count_money"    />
        <result property="winMoney"    column="win_money"    />
        <result property="betMoney"    column="bet_money"    />
        <result property="status"    column="status"    />
    </resultMap>

    <select id="selectBetkjList" resultMap="BetkjResult">
        select
              periods as periods
            , status as status
            , case when status = '1' then bet_time else pre_time end as bet_open_time
            , case when status = '1'
                then
                    <if test='gameType == "3"'>CONCAT(num1,'+',num2,'+',num3,'=',sum_num)</if>
                    <if test='gameType == "5"'>CONCAT(num1,'+',num2,'+',num3,'+',num4,'+',num5,'=',sum)</if>
                    <if test='gameType == "10"'>CONCAT(num1,'+',num2,'+',num3,'+',num4,'+',num5,'+',num6,'+',num7,'+',num8,'+',num9,'+',num10)</if>
                else ''
                end as open_result
            , count_money as count_money
            , win_money as win_money
        from ${betkjTableName}
        where 1 = 1
        <if test="status != null  and status != ''"> and status = #{status}</if>
        <if test="gameId != null "> and game_id = #{gameId}</if>
        <if test="periods != null "> and periods = #{periods}</if>
        order by periods desc
    </select>

    <select id="gameRecordList" resultMap="GameListResult">
        select
             gameRecode.game_id AS game_id
            ,gameRecode.game_name AS game_name
            ,gameRecode.periods AS periods
            ,date_format(gameRecode.record_time,'%Y-%m-%d') AS record_time
            ,brecode.count_money AS count_money
            ,gameRecode.win_money AS win_money
            ,brecode.bet_money AS bet_money
            ,gameRecode.status AS status
        from ${betRecordTableName} gameRecode
        inner join(
            select
                  br.user_id as user_id
                 ,br.periods as periods
                 ,br.game_id as game_id
                 ,count(*) as count_money
                 ,sum(br.money) as bet_money
            from bet_record br
            where br.is_delete = 0
            and br.user_id = #{userId}
            and br.game_id = #{gameId}
            group by br.user_id,br.periods,br.game_id
        )brecode on brecode.user_id = gameRecode.user_id
        and brecode.game_id = gameRecode.game_id
        and brecode.periods = gameRecode.periods
        where gameRecode.is_delete = 0
        and gameRecode.user_id = #{userId}
        and gameRecode.game_id = #{gameId}
        <if test="filterDay != null and filterDay != ''">
            and DATE_FORMAT(gameRecode.record_time, '%Y-%m-%d') = #{filterDay}
        </if>
    </select>
</mapper>