<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BetRecordMapper">
    
    <resultMap type="BetRecord" id="BetRecordResult">
        <result property="betId"    column="bet_id"    />
        <result property="userId"    column="user_id"    />
        <result property="periods"    column="periods"    />
        <result property="recordTime"    column="record_time"    />
        <result property="timeCheckpoint"    column="time_checkpoint"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="playType"    column="play_type"    />
        <result property="playDetail"    column="play_detail"    />
        <result property="playGroup"    column="play_group"    />
        <result property="option"    column="option"    />
        <result property="money"    column="money"    />
        <result property="balance"    column="balance"    />
        <result property="accountResult"    column="account_result"    />
        <result property="settleFlg"    column="settle_flg"    />
        <result property="gameResult"    column="game_result"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="isRobot"    column="is_robot"    />
        <result property="robotNickName"    column="robot_nick_name"    />
        <result property="robotPic"    column="robot_pic"    />
        <result property="robotImg"    column="robot_img"    />
        <result property="houseId"    column="house_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.BetRecordListRespVO" id="BetRecordListResult">
        <result property="betId"    column="bet_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="periods"    column="periods"    />
        <result property="type"    column="play_group"    />
        <result property="playType"    column="play_type"    />
        <result property="nickName"    column="nick_name"    />
        <result property="pic"       column="pic"       />
        <result property="stime"       column="stime"       />
        <result property="number"    column="number"    />
        <result property="money"    column="money"    />
        <result property="userId"       column="user_id"      />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.BetRealTimeRespVO" id="BetRealTimeListResult">
        <result property="betId"    column="bet_id"    />
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="recordTime"    column="record_time"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="periods"    column="periods"    />
        <result property="playType"    column="play_type"    />
        <result property="playDetail"    column="play_detail"    />
        <result property="money"    column="money"    />
        <result property="balance"    column="balance"    />
        <result property="gameResult"    column="game_result"    />
        <result property="accountResult"    column="account_result"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.WeeKGameBetRespVO" id="WeekGameBetListResult">
        <result property="betDay"    column="bet_day"    />
        <result property="gameName"    column="game_name"    />
        <result property="betMoney"    column="bet_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.VirtuallyGameRecordRespVO" id="VirtuallyGameRecordListResult">
        <result property="betId"    column="bet_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="periods"    column="periods"    />
        <result property="type"    column="type"    />
        <result property="playType"    column="play_type"    />
        <result property="nickName"    column="nick_name"    />
        <result property="pic"       column="pic"       />
        <result property="stime"       column="stime"       />
        <result property="number"    column="number"    />
        <result property="money"    column="money"    />
        <result property="house"    column="house"    />
    </resultMap>

    <select id="getVirtuallyRecordList" resultMap="VirtuallyGameRecordListResult">
        SELECT
             bet.bet_id AS bet_id
            ,bet.game_id AS game_id
            ,bet.game_name AS game_name
            ,bet.periods AS periods
            ,bet.play_group AS type
            ,bet.play_type AS play_type
            ,bet.robot_nick_name AS nick_name
            ,bet.robot_pic AS pic
            ,bet.record_time AS stime
            ,bet.play_detail AS number
            ,bet.money AS money
--         ,bet.game_id AS house
        FROM
            bet_record bet
        WHERE
              bet.is_delete = '0'
          AND bet.is_robot = '1'
        <if test="gameId != null "> and bet.game_id = #{gameId}</if>
        <if test="periods != null "> and bet.periods = #{periods}</if>
        <if test="lastBetRecordId != null "> and bet.bet_id > #{lastBetRecordId}</if>
    </select>

    <sql id="selectBetRecordVo">
        select bet_id, user_id, periods, record_time, time_checkpoint, game_id, game_name, play_type, play_detail, play_group, `option`, money, balance, account_result, settle_flg, game_result, is_delete, is_robot, robot_nick_name, robot_pic, robot_img, house_id, create_by, create_time, update_by, update_time, remark from bet_record
    </sql>

    <select id="selectBetRecordList" parameterType="BetRecord" resultMap="BetRecordResult">
        <include refid="selectBetRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="periods != null "> and periods = #{periods}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <if test="timeCheckpoint != null "> and time_checkpoint = #{timeCheckpoint}</if>
            <if test="gameId != null "> and game_id = #{gameId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="playType != null  and playType != ''"> and play_type = #{playType}</if>
            <if test="playDetail != null  and playDetail != ''"> and play_detail = #{playDetail}</if>
            <if test="playGroup != null "> and play_group = #{playGroup}</if>
            <if test="option != null "> and `option` = #{option}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="accountResult != null "> and account_result = #{accountResult}</if>
            <if test="settleFlg != null  and settleFlg != ''"> and settle_flg = #{settleFlg}</if>
            <if test="gameResult != null  and gameResult != ''"> and game_result = #{gameResult}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
            <if test="isRobot != null  and isRobot != ''"> and is_robot = #{isRobot}</if>
            <if test="robotNickName != null  and robotNickName != ''"> and robot_nick_name like concat('%', #{robotNickName}, '%')</if>
            <if test="robotPic != null  and robotPic != ''"> and robot_pic = #{robotPic}</if>
            <if test="robotImg != null  and robotImg != ''"> and robot_img = #{robotImg}</if>
            <if test="houseId != null "> and house_id = #{houseId}</if>
        </where>
    </select>
    
    <select id="selectBetRecordByBetId" parameterType="Long" resultMap="BetRecordResult">
        <include refid="selectBetRecordVo"/>
        where bet_id = #{betId}
    </select>
        
    <insert id="insertBetRecord" parameterType="BetRecord" useGeneratedKeys="true" keyProperty="betId">
        insert into bet_record(
            <if test="userId != null">user_id,</if>
            <if test="periods != null">periods,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameName != null">game_name,</if>
            <if test="playType != null and playType != ''">play_type,</if>
            <if test="playDetail != null and playDetail != ''">play_detail,</if>
            <if test="playGroup != null">play_group,</if>
            <if test="option != null">`option`,</if>
            <if test="money != null">money,</if>
            <if test="balance != null">balance,</if>
            <if test="accountResult != null">account_result,</if>
            <if test="settleFlg != null">settle_flg,</if>
            <if test="gameResult != null and gameResult != ''">game_result,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="isRobot != null and isRobot != ''">is_robot,</if>
            <if test="robotNickName != null">robot_nick_name,</if>
            <if test="robotPic != null">robot_pic,</if>
            <if test="robotImg != null">robot_img,</if>
            <if test="houseId != null">house_id,</if>
            <if test="createBy != null">create_by,</if>
        record_time,
        time_checkpoint,
        create_time
        )values(
            <if test="userId != null">#{userId},</if>
            <if test="periods != null">#{periods},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="playType != null and playType != ''">#{playType},</if>
            <if test="playDetail != null and playDetail != ''">#{playDetail},</if>
            <if test="playGroup != null">#{playGroup},</if>
            <if test="option != null">#{option},</if>
            <if test="money != null">#{money},</if>
            <if test="balance != null">#{balance},</if>
            <if test="accountResult != null">#{accountResult},</if>
            <if test="settleFlg != null">#{settleFlg},</if>
            <if test="gameResult != null and gameResult != ''">#{gameResult},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="isRobot != null and isRobot != ''">#{isRobot},</if>
            <if test="robotNickName != null">#{robotNickName},</if>
            <if test="robotPic != null">#{robotPic},</if>
            <if test="robotImg != null">#{robotImg},</if>
            <if test="houseId != null">#{houseId},</if>
            <if test="createBy != null">#{createBy},</if>
        sysdate(),
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateBetRecord" parameterType="BetRecord">
        update bet_record
        <set>
            <if test="playType != null and playType != ''">play_type = #{playType},</if>
            <if test="playDetail != null and playDetail != ''">play_detail = #{playDetail},</if>
            <if test="playGroup != null">play_group = #{playGroup},</if>
            <if test="option != null">`option` = #{option},</if>
            <if test="money != null">money = #{money},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="accountResult != null">account_result = #{accountResult},</if>
            <if test="settleFlg != null">settle_flg = #{settleFlg},</if>
            <if test="gameResult != null and gameResult != ''">game_result = #{gameResult},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="isRobot != null and isRobot != ''">is_robot = #{isRobot},</if>
            <if test="robotNickName != null">robot_nick_name = #{robotNickName},</if>
            <if test="robotPic != null">robot_pic = #{robotPic},</if>
            <if test="robotImg != null">robot_img = #{robotImg},</if>
            <if test="houseId != null">house_id = #{houseId},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where bet_id = #{betId}
    </update>

    <update id="updateLotteryResult" parameterType="BetRecord">
        update bet_record
        <set>
            settle_flg = '1',
            <if test="accountResult != null">account_result = #{accountResult},</if>
            <if test="gameResult != null and gameResult != ''">game_result = #{gameResult},</if>
            update_time = sysdate()
        </set>
        where 1= 1
        <if test="userId != null "> and user_id = #{userId}</if>
        <if test="periods != null "> and periods = #{periods}</if>
        <if test="gameId != null "> and game_id = #{gameId}</if>
        <if test="settleFlg != null  and settleFlg != ''"> and settle_flg = #{settleFlg}</if>
        <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
    </update>

    <delete id="deleteBetRecordByBetId" parameterType="Long">
        delete from bet_record where bet_id = #{betId}
    </delete>

    <delete id="deleteBetRecordByBetIds" parameterType="String">
        delete from bet_record where bet_id in 
        <foreach item="betId" collection="array" open="(" separator="," close=")">
            #{betId}
        </foreach>
    </delete>

    <select id="selectBetRecordListByPeriods" resultMap="BetRecordListResult">
        select
         br.bet_id as bet_id
        ,br.game_id as game_id
        ,br.game_name as game_name
        ,br.periods as periods
        ,br.play_group as play_group
        ,br.play_type as play_type
        ,case when br.is_robot = '1' then br.robot_nick_name else u.nick_name end as nick_name
        ,case when br.is_robot = '1' then br.robot_pic else u.avatar end as pic
        ,br.record_time as stime
        ,br.play_detail as  number
        ,br.money as money
        ,br.user_id as user_id
        from  bet_record br
        left join sys_user u on u.user_id = br.user_id
        where is_delete = 0
        and br.game_id = #{gameId}
        <if test="periods != null "> and br.periods = #{periods}</if>
        order by bet_id desc
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <update id="cancelBetRecordByPeriods">
        update bet_record
        set update_time = sysdate(),is_delete = #{isDelete}
        where game_id = #{gameId}
        and periods = #{periods}
        and user_id = #{userId}
    </update>


    <select id="selectBetRealTimeList" resultMap="BetRealTimeListResult">
        select
             u.user_id as user_id
            ,u.nick_name as nick_name
            ,u.real_name as real_name
            ,u.remark_name as remark_name
            ,br.bet_id as bet_id
            ,br.record_time as record_time
            ,br.game_id as game_id
            ,br.game_name as game_name
            ,br.periods as periods
            ,br.play_type as play_type
            ,br.play_detail as  play_detail
            ,br.money as money
            ,br.balance as balance
            ,br.game_result as game_result
            ,br.account_result as account_result
            ,br.is_delete as is_delete
        from  bet_record br
        left join sys_user u on u.user_id = br.user_id
        where br.is_robot = 0
        <if test="userId != null "> and br.user_id = #{userId}</if>
        <if test="gameId != null "> and br.game_id = #{gameId}</if>
        <if test="settledFlg != null "> and br.is_delete = 0 and br.settle_flg = 0</if>
        order by br.bet_id desc
    </select>

    <select id="selectBetToalAmount" resultType="Float">
        select
            sum(money)
        from bet_record
        where is_delete = '0'
          and is_robot = '0'
    </select>

    <select id="selectWeekGameBetList" resultMap="WeekGameBetListResult">
        SELECT
            date_format(bet.record_time, '%m-%d' ) AS bet_day,
            sum(bet.money ) AS bet_money,
            max(bet.game_name)  as game_name
        FROM
            bet_record bet
        WHERE
              date_format( bet.record_time, '%y%m%d' ) >= date_format( CURDATE() - INTERVAL 6 DAY, '%y%m%d' )
          AND bet.is_delete = '0'
          AND bet.is_robot = '0'
        GROUP BY
            date_format( bet.record_time, '%m-%d' ),bet.game_id
    </select>
</mapper>