<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GameThreeballMixedOddsMapper">
    
    <resultMap type="GameThreeballMixedOdds" id="GameThreeballMixedOddsResult">
        <result property="mixedOddsId"    column="mixed_odds_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="numberMinQuota"    column="number_min_quota"    />
        <result property="numberMaxQuota"    column="number_max_quota"    />
        <result property="lessNumberOdd"    column="less_number_odd"    />
        <result property="centerNumberOdd"    column="center_number_odd"    />
        <result property="greaterNumberOdd"    column="greater_number_odd"    />
        <result property="sdbMinQuota"    column="sdb_min_quota"    />
        <result property="sdbMaxQuota"    column="sdb_max_quota"    />
        <result property="lessSdbOdd"    column="less_sdb_odd"    />
        <result property="centerSdbOdd"    column="center_sdb_odd"    />
        <result property="greaterSdbOdd"    column="greater_sdb_odd"    />
        <result property="zeroNineMinQuota"    column="zero_nine_min_quota"    />
        <result property="zeroNineMaxQuota"    column="zero_nine_max_quota"    />
        <result property="lessZeroNineOdd"    column="less_zero_nine_odd"    />
        <result property="centerZeroNineOdd"    column="center_zero_nine_odd"    />
        <result property="greaterZeroNineOdd"    column="greater_zero_nine_odd"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGameThreeballMixedOddsVo">
        select mixed_odds_id, game_id, number_min_quota, number_max_quota, less_number_odd, center_number_odd, greater_number_odd, sdb_min_quota, sdb_max_quota, less_sdb_odd, center_sdb_odd, greater_sdb_odd, zero_nine_min_quota, zero_nine_max_quota, less_zero_nine_odd, center_zero_nine_odd, greater_zero_nine_odd, create_by, create_time, update_by, update_time, remark from game_threeball_mixed_odds
    </sql>

    <select id="selectGameThreeballMixedOddsList" parameterType="GameThreeballMixedOdds" resultMap="GameThreeballMixedOddsResult">
        <include refid="selectGameThreeballMixedOddsVo"/>
        <where>  
            <if test="gameId != null "> and game_id = #{gameId}</if>
        </where>
    </select>
    
    <select id="selectGameThreeballMixedOddsByMixedOddsId" parameterType="Long" resultMap="GameThreeballMixedOddsResult">
        <include refid="selectGameThreeballMixedOddsVo"/>
        where mixed_odds_id = #{mixedOddsId}
    </select>
        
    <insert id="insertGameThreeballMixedOdds" parameterType="GameThreeballMixedOdds" useGeneratedKeys="true" keyProperty="mixedOddsId">
        insert into game_threeball_mixed_odds
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gameId != null">game_id,</if>
            <if test="numberMinQuota != null">number_min_quota,</if>
            <if test="numberMaxQuota != null">number_max_quota,</if>
            <if test="lessNumberOdd != null">less_number_odd,</if>
            <if test="centerNumberOdd != null">center_number_odd,</if>
            <if test="greaterNumberOdd != null">greater_number_odd,</if>
            <if test="sdbMinQuota != null">sdb_min_quota,</if>
            <if test="sdbMaxQuota != null">sdb_max_quota,</if>
            <if test="lessSdbOdd != null">less_sdb_odd,</if>
            <if test="centerSdbOdd != null">center_sdb_odd,</if>
            <if test="greaterSdbOdd != null">greater_sdb_odd,</if>
            <if test="zeroNineMinQuota != null">zero_nine_min_quota,</if>
            <if test="zeroNineMaxQuota != null">zero_nine_max_quota,</if>
            <if test="lessZeroNineOdd != null">less_zero_nine_odd,</if>
            <if test="centerZeroNineOdd != null">center_zero_nine_odd,</if>
            <if test="greaterZeroNineOdd != null">greater_zero_nine_odd,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gameId != null">#{gameId},</if>
            <if test="numberMinQuota != null">#{numberMinQuota},</if>
            <if test="numberMaxQuota != null">#{numberMaxQuota},</if>
            <if test="lessNumberOdd != null">#{lessNumberOdd},</if>
            <if test="centerNumberOdd != null">#{centerNumberOdd},</if>
            <if test="greaterNumberOdd != null">#{greaterNumberOdd},</if>
            <if test="sdbMinQuota != null">#{sdbMinQuota},</if>
            <if test="sdbMaxQuota != null">#{sdbMaxQuota},</if>
            <if test="lessSdbOdd != null">#{lessSdbOdd},</if>
            <if test="centerSdbOdd != null">#{centerSdbOdd},</if>
            <if test="greaterSdbOdd != null">#{greaterSdbOdd},</if>
            <if test="zeroNineMinQuota != null">#{zeroNineMinQuota},</if>
            <if test="zeroNineMaxQuota != null">#{zeroNineMaxQuota},</if>
            <if test="lessZeroNineOdd != null">#{lessZeroNineOdd},</if>
            <if test="centerZeroNineOdd != null">#{centerZeroNineOdd},</if>
            <if test="greaterZeroNineOdd != null">#{greaterZeroNineOdd},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGameThreeballMixedOdds" parameterType="GameThreeballMixedOdds">
        update game_threeball_mixed_odds
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="numberMinQuota != null">number_min_quota = #{numberMinQuota},</if>
            <if test="numberMaxQuota != null">number_max_quota = #{numberMaxQuota},</if>
            <if test="lessNumberOdd != null">less_number_odd = #{lessNumberOdd},</if>
            <if test="centerNumberOdd != null">center_number_odd = #{centerNumberOdd},</if>
            <if test="greaterNumberOdd != null">greater_number_odd = #{greaterNumberOdd},</if>
            <if test="sdbMinQuota != null">sdb_min_quota = #{sdbMinQuota},</if>
            <if test="sdbMaxQuota != null">sdb_max_quota = #{sdbMaxQuota},</if>
            <if test="lessSdbOdd != null">less_sdb_odd = #{lessSdbOdd},</if>
            <if test="centerSdbOdd != null">center_sdb_odd = #{centerSdbOdd},</if>
            <if test="greaterSdbOdd != null">greater_sdb_odd = #{greaterSdbOdd},</if>
            <if test="zeroNineMinQuota != null">zero_nine_min_quota = #{zeroNineMinQuota},</if>
            <if test="zeroNineMaxQuota != null">zero_nine_max_quota = #{zeroNineMaxQuota},</if>
            <if test="lessZeroNineOdd != null">less_zero_nine_odd = #{lessZeroNineOdd},</if>
            <if test="centerZeroNineOdd != null">center_zero_nine_odd = #{centerZeroNineOdd},</if>
            <if test="greaterZeroNineOdd != null">greater_zero_nine_odd = #{greaterZeroNineOdd},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where mixed_odds_id = #{mixedOddsId}
    </update>

    <delete id="deleteGameThreeballMixedOddsByMixedOddsId" parameterType="Long">
        delete from game_threeball_mixed_odds where mixed_odds_id = #{mixedOddsId}
    </delete>

    <delete id="deleteGameThreeballMixedOddsByMixedOddsIds" parameterType="String">
        delete from game_threeball_mixed_odds where mixed_odds_id in 
        <foreach item="mixedOddsId" collection="array" open="(" separator="," close=")">
            #{mixedOddsId}
        </foreach>
    </delete>

    <select id="selectGameThreeballMixedOddsByGameId" parameterType="GameThreeballMixedOdds" resultMap="GameThreeballMixedOddsResult">
        <include refid="selectGameThreeballMixedOddsVo"/>
        where game_id = #{gameId}
        limit 1
    </select>
</mapper>