<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GameThreeballKjMapper">
    
    <resultMap type="GameThreeballKj" id="GameThreeballKjResult">
        <result property="id"    column="id"    />
        <result property="periods"    column="periods"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="num1"    column="num1"    />
        <result property="num2"    column="num2"    />
        <result property="num3"    column="num3"    />
        <result property="sumNum"    column="sum_num"    />
        <result property="betTime"    column="bet_time"    />
        <result property="preTime"    column="pre_time"    />
        <result property="status"    column="status"    />
        <result property="theTime"    column="the_time"    />
        <result property="countMoney"    column="count_money"    />
        <result property="winMoney"    column="win_money"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGameThreeballKjVo">
        select id, periods, game_id, game_name, num1, num2, num3, sum_num, bet_time, pre_time, status, the_time, count_money, win_money, create_by, create_time, update_by, update_time, remark from game_threeball_kj
    </sql>

    <select id="selectGameThreeballKjList" parameterType="GameThreeballKj" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        <where>  
            <if test="periods != null "> and periods = #{periods}</if>
            <if test="gameId != null "> and game_id = #{gameId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="num1 != null "> and num1 = #{num1}</if>
            <if test="num2 != null "> and num2 = #{num2}</if>
            <if test="num3 != null "> and num3 = #{num3}</if>
            <if test="sumNum != null "> and sum_num = #{sumNum}</if>
            <if test="betTime != null "> and bet_time = #{betTime}</if>
            <if test="preTime != null "> and pre_time = #{preTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="theTime != null "> and the_time = #{theTime}</if>
            <if test="countMoney != null "> and count_money = #{countMoney}</if>
            <if test="winMoney != null "> and win_money = #{winMoney}</if>
        </where>
        order by periods asc
    </select>
    
    <select id="selectGameThreeballKjById" parameterType="Long" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGameThreeballKj" parameterType="GameThreeballKj" useGeneratedKeys="true" keyProperty="id">
        insert into game_threeball_kj(
            <if test="periods != null">periods,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameName != null">game_name,</if>
            <if test="num1 != null">num1,</if>
            <if test="num2 != null">num2,</if>
            <if test="num3 != null">num3,</if>
            <if test="sumNum != null">sum_num,</if>
            <if test="betTime != null">bet_time,</if>
            <if test="preTime != null">pre_time,</if>
            <if test="status != null">status,</if>
            <if test="theTime != null">the_time,</if>
            <if test="countMoney != null">count_money,</if>
            <if test="winMoney != null">win_money,</if>
            <if test="createBy != null">create_by,</if>
        create_time
        )values(
            <if test="periods != null">#{periods},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="num1 != null">#{num1},</if>
            <if test="num2 != null">#{num2},</if>
            <if test="num3 != null">#{num3},</if>
            <if test="sumNum != null">#{sumNum},</if>
            <if test="betTime != null">#{betTime},</if>
            <if test="preTime != null">#{preTime},</if>
            <if test="status != null">#{status},</if>
            <if test="theTime != null">#{theTime},</if>
            <if test="countMoney != null">#{countMoney},</if>
            <if test="winMoney != null">#{winMoney},</if>
            <if test="createBy != null">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateGameThreeballKj" parameterType="GameThreeballKj">
        update game_threeball_kj
        <set>
            <if test="periods != null">periods = #{periods},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="num1 != null">num1 = #{num1},</if>
            <if test="num2 != null">num2 = #{num2},</if>
            <if test="num3 != null">num3 = #{num3},</if>
            <if test="sumNum != null">sum_num = #{sumNum},</if>
            <if test="betTime != null">bet_time = #{betTime},</if>
            <if test="preTime != null">pre_time = #{preTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="theTime != null">the_time = #{theTime},</if>
            <if test="countMoney != null">count_money = #{countMoney},</if>
            <if test="winMoney != null">win_money = #{winMoney},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteGameThreeballKjById" parameterType="Long">
        delete from game_threeball_kj where id = #{id}
    </delete>

    <delete id="deleteGameThreeballKjByIds" parameterType="String">
        delete from game_threeball_kj where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectLastRecord" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        where 1 = 1
        <if test="gameId != null "> and game_id = #{gameId}</if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
        order by id desc
        limit 1
    </select>

    <select id="selectGameThreeballKjListWithStatusZeroAndLimit" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        where 1 = 1
        <if test="gameId != null "> and game_id = #{gameId}</if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
        <if test="periods != null "> and periods &lt; #{periods}</if>
        <if test="idAscFlg != null and idAscFlg != '' ">
            order by id asc
        </if>
        <if test="idDescFlg != null and idDescFlg != '' ">
            order by id desc
        </if>
        <if test="limitNumber != null">
            limit #{limitNumber}
        </if>
    </select>

    <update id="updateGameThreeballKjTotalAmountByPeriodId" parameterType="GameThreeballKj">
        update game_threeball_kj
        <set>
            <if test="countMoney != null">count_money = #{countMoney},</if>
            <if test="winMoney != null">win_money = #{winMoney},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectGameThreeballKjByPeriods" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        where 1 = 1
        <if test="periods != null "> and periods = #{periods}</if>
        <if test="gameId != null "> and game_id = #{gameId}</if>
        order by id desc
        limit 1
    </select>

    <select id="selectThreeBallsGameResult" resultMap="GameThreeballKjResult">
        <include refid="selectGameThreeballKjVo"/>
        where status = '1'
        <if test="gameId != null "> and game_id = #{gameId}</if>
        <if test="filterDate != null and filterDate != ''">
            and DATE_FORMAT(the_time, '%Y-%m-%d') = #{filterDate}
        </if>
        order by periods desc
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <select id="selectKajiangPeriods" resultMap="GameThreeballKjResult">
        SELECT
             kj.game_id as game_id
            ,kj.periods as periods
        FROM
            game_threeball_kj kj
        INNER JOIN bet_record bet ON kj.periods = bet.periods
        AND kj.game_id = bet.game_id
        AND bet.settle_flg = '0'
        AND bet.is_delete = '0'
        AND bet.is_robot = '0'
        WHERE
        kj.STATUS = '1'
        <if test="gameId != null "> and kj.game_id = #{gameId}</if>
        GROUP BY
        kj.game_id,
        kj.periods
    </select>
</mapper>