<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBetTypeMapper">
    
    <resultMap type="SysBetType" id="SysBetTypeResult">
        <result property="betTypeId"    column="bet_type_id"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="betTypeName"    column="bet_type_name"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysBetTypeVo">
        select b.bet_type_id, b.game_id, b.bet_type_name, b.sort, b.status, b.create_by, b.create_time, b.update_by, b.update_time, b.remark
        ,g.game_name
        from sys_bet_type b
        inner join sys_game g on g.game_id = b.game_id
    </sql>

    <select id="selectSysBetTypeList" parameterType="SysBetType" resultMap="SysBetTypeResult">
        <include refid="selectSysBetTypeVo"/>
        <where>  
            <if test="gameId != null "> and b.game_id = #{gameId}</if>
            <if test="betTypeName != null  and betTypeName != ''"> and b.bet_type_name like concat('%', #{betTypeName}, '%')</if>
            <if test="sort != null "> and b.sort = #{sort}</if>
            <if test="status != null  and status != ''"> and b.status = #{status}</if>
        </where>
        order by b.sort
    </select>
    
    <select id="selectSysBetTypeByBetTypeId" parameterType="Long" resultMap="SysBetTypeResult">
        <include refid="selectSysBetTypeVo"/>
        where b.bet_type_id = #{betTypeId}
    </select>
        
    <insert id="insertSysBetType" parameterType="SysBetType" useGeneratedKeys="true" keyProperty="betTypeId">
        insert into sys_bet_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gameId != null">game_id,</if>
            <if test="betTypeName != null">bet_type_name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gameId != null">#{gameId},</if>
            <if test="betTypeName != null">#{betTypeName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysBetType" parameterType="SysBetType">
        update sys_bet_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="betTypeName != null">bet_type_name = #{betTypeName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where bet_type_id = #{betTypeId}
    </update>

    <delete id="deleteSysBetTypeByBetTypeId" parameterType="Long">
        delete from sys_bet_type where bet_type_id = #{betTypeId}
    </delete>

    <delete id="deleteSysBetTypeByBetTypeIds" parameterType="String">
        delete from sys_bet_type where bet_type_id in 
        <foreach item="betTypeId" collection="array" open="(" separator="," close=")">
            #{betTypeId}
        </foreach>
    </delete>
</mapper>