<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysGameMapper">
    
    <resultMap type="SysGame" id="SysGameResult">
        <result property="gameId"    column="game_id"    />
        <result property="gameImg"    column="game_img"    />
        <result property="gameType"    column="game_type"    />
        <result property="gameMarkId"    column="game_mark_id"    />
        <result property="gameOpenCode"    column="game_open_code"    />
        <result property="gameName"    column="game_name"    />
        <result property="gameAliasName"    column="game_alias_name"    />
        <result property="gameDescribe"    column="game_describe"    />
        <result property="profitLossName"    column="profit_loss_name"    />
        <result property="gameRecord"    column="game_record"    />
        <result property="gameKj"    column="game_kj"    />
        <result property="gameCommission"    column="game_commission"    />
        <result property="gameCommissionTwo"    column="game_commission_two"    />
        <result property="gameCate"    column="game_cate"    />
        <result property="gameCashback"    column="game_cashback"    />
        <result property="minBetAmount"    column="min_bet_amount"    />
        <result property="maxBetAmount"    column="max_bet_amount"    />
        <result property="leadTime"    column="lead_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="lotteryInterval"    column="lottery_interval"    />
        <result property="robotRate"    column="robot_rate"    />
        <result property="roomRule"    column="room_rule"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="isHidden"    column="is_hidden"    />
        <result property="houseOpen"    column="house_open"    />
        <result property="validOpenStartTime"    column="valid_open_start_time"    />
        <result property="validOpenEndTime"    column="valid_open_end_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysGameVo">
        select game_id, game_img, game_type, game_mark_id, game_open_code, game_name, game_alias_name, game_describe, profit_loss_name, game_record, game_kj, game_commission, game_commission_two, game_cate, game_cashback, min_bet_amount, max_bet_amount, lead_time, end_time, lottery_interval, robot_rate, room_rule, sort, status, is_hidden, house_open, valid_open_start_time, valid_open_end_time, create_by, create_time, update_by, update_time, remark from sys_game
    </sql>

    <select id="selectSysGameList" parameterType="SysGame" resultMap="SysGameResult">
        <include refid="selectSysGameVo"/>
        <where>  
            <if test="gameType != null "> and game_type = #{gameType}</if>
            <if test="gameMarkId != null  and gameMarkId != ''"> and game_mark_id = #{gameMarkId}</if>
            <if test="gameOpenCode != null  and gameOpenCode != ''"> and game_open_code = #{gameOpenCode}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="gameAliasName != null  and gameAliasName != ''"> and game_alias_name like concat('%', #{gameAliasName}, '%')</if>
            <if test="gameDescribe != null  and gameDescribe != ''"> and game_describe = #{gameDescribe}</if>
            <if test="profitLossName != null  and profitLossName != ''"> and profit_loss_name like concat('%', #{profitLossName}, '%')</if>
            <if test="gameRecord != null  and gameRecord != ''"> and game_record = #{gameRecord}</if>
            <if test="gameKj != null  and gameKj != ''"> and game_kj = #{gameKj}</if>
            <if test="gameCommission != null "> and game_commission = #{gameCommission}</if>
            <if test="gameCommissionTwo != null "> and game_commission_two = #{gameCommissionTwo}</if>
            <if test="gameCate != null  and gameCate != ''"> and game_cate = #{gameCate}</if>
            <if test="gameCashback != null "> and game_cashback = #{gameCashback}</if>
            <if test="minBetAmount != null "> and min_bet_amount = #{minBetAmount}</if>
            <if test="maxBetAmount != null "> and max_bet_amount = #{maxBetAmount}</if>
            <if test="leadTime != null "> and lead_time = #{leadTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="robotRate != null "> and robot_rate = #{robotRate}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isHidden != null  and isHidden != ''"> and is_hidden = #{isHidden}</if>
            <if test="validOpenStartTime != null  and validOpenStartTime != ''"> and valid_open_start_time = #{validOpenStartTime}</if>
            <if test="validOpenEndTime != null  and validOpenEndTime != ''"> and valid_open_end_time = #{validOpenEndTime}</if>
        </where>
    </select>
    
    <select id="selectSysGameByGameId" parameterType="Long" resultMap="SysGameResult">
        <include refid="selectSysGameVo"/>
        where game_id = #{gameId}
    </select>

    <select id="selectSysGameByGameMarkId" parameterType="String" resultMap="SysGameResult">
        <include refid="selectSysGameVo"/>
        where game_mark_id = #{gameMarkId}
        limit 1
    </select>
        
    <insert id="insertSysGame" parameterType="SysGame" useGeneratedKeys="true" keyProperty="gameId">
        insert into sys_game
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gameImg != null">game_img,</if>
            <if test="gameType != null">game_type,</if>
            <if test="gameMarkId != null">game_mark_id,</if>
            <if test="gameOpenCode != null">game_open_code,</if>
            <if test="gameName != null">game_name,</if>
            <if test="gameAliasName != null">game_alias_name,</if>
            <if test="gameDescribe != null">game_describe,</if>
            <if test="profitLossName != null">profit_loss_name,</if>
            <if test="gameRecord != null">game_record,</if>
            <if test="gameKj != null">game_kj,</if>
            <if test="gameCommission != null">game_commission,</if>
            <if test="gameCommissionTwo != null">game_commission_two,</if>
            <if test="gameCate != null">game_cate,</if>
            <if test="gameCashback != null">game_cashback,</if>
            <if test="minBetAmount != null">min_bet_amount,</if>
            <if test="maxBetAmount != null">max_bet_amount,</if>
            <if test="leadTime != null">lead_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="lotteryInterval != null">lottery_interval,</if>
            <if test="robotRate != null">robot_rate,</if>
            <if test="roomRule != null">room_rule,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="houseOpen != null">house_open,</if>
            <if test="validOpenStartTime != null">valid_open_start_time,</if>
            <if test="validOpenEndTime != null">valid_open_end_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gameImg != null">#{gameImg},</if>
            <if test="gameType != null">#{gameType},</if>
            <if test="gameMarkId != null">#{gameMarkId},</if>
            <if test="gameOpenCode != null">#{gameOpenCode},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="gameAliasName != null">#{gameAliasName},</if>
            <if test="gameDescribe != null">#{gameDescribe},</if>
            <if test="profitLossName != null">#{profitLossName},</if>
            <if test="gameRecord != null">#{gameRecord},</if>
            <if test="gameKj != null">#{gameKj},</if>
            <if test="gameCommission != null">#{gameCommission},</if>
            <if test="gameCommissionTwo != null">#{gameCommissionTwo},</if>
            <if test="gameCate != null">#{gameCate},</if>
            <if test="gameCashback != null">#{gameCashback},</if>
            <if test="minBetAmount != null">#{minBetAmount},</if>
            <if test="maxBetAmount != null">#{maxBetAmount},</if>
            <if test="leadTime != null">#{leadTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="lotteryInterval != null">#{lotteryInterval},</if>
            <if test="robotRate != null">#{robotRate},</if>
            <if test="roomRule != null">#{roomRule},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="houseOpen != null">#{houseOpen},</if>
            <if test="validOpenStartTime != null">#{validOpenStartTime},</if>
            <if test="validOpenEndTime != null">#{validOpenEndTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysGame" parameterType="SysGame">
        update sys_game
        <trim prefix="SET" suffixOverrides=",">
            <if test="gameImg != null">game_img = #{gameImg},</if>
            <if test="gameType != null">game_type = #{gameType},</if>
            <if test="gameMarkId != null">game_mark_id = #{gameMarkId},</if>
            <if test="gameOpenCode != null">game_open_code = #{gameOpenCode},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="gameAliasName != null">game_alias_name = #{gameAliasName},</if>
            <if test="gameDescribe != null">game_describe = #{gameDescribe},</if>
            <if test="profitLossName != null">profit_loss_name = #{profitLossName},</if>
            <if test="gameRecord != null">game_record = #{gameRecord},</if>
            <if test="gameKj != null">game_kj = #{gameKj},</if>
            <if test="gameCommission != null">game_commission = #{gameCommission},</if>
            <if test="gameCommissionTwo != null">game_commission_two = #{gameCommissionTwo},</if>
            <if test="gameCate != null">game_cate = #{gameCate},</if>
            <if test="gameCashback != null">game_cashback = #{gameCashback},</if>
            <if test="minBetAmount != null">min_bet_amount = #{minBetAmount},</if>
            <if test="maxBetAmount != null">max_bet_amount = #{maxBetAmount},</if>
            <if test="leadTime != null">lead_time = #{leadTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="lotteryInterval != null">lottery_interval = #{lotteryInterval},</if>
            <if test="robotRate != null">robot_rate = #{robotRate},</if>
            <if test="roomRule != null">room_rule = #{roomRule},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="houseOpen != null">house_open = #{houseOpen},</if>
            <if test="validOpenStartTime != null">valid_open_start_time = #{validOpenStartTime},</if>
            <if test="validOpenEndTime != null">valid_open_end_time = #{validOpenEndTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where game_id = #{gameId}
    </update>

    <delete id="deleteSysGameByGameId" parameterType="Long">
        delete from sys_game where game_id = #{gameId}
    </delete>

    <delete id="deleteSysGameByGameIds" parameterType="String">
        delete from sys_game where game_id in 
        <foreach item="gameId" collection="array" open="(" separator="," close=")">
            #{gameId}
        </foreach>
    </delete>
</mapper>