<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UsermoneyMapper">
    
    <resultMap type="Usermoney" id="UsermoneyResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="cashContent"    column="cash_content"    />
        <result property="cashTime"    column="cash_time"    />
        <result property="cashMoney"    column="cash_money"    />
        <result property="type"    column="type"    />
        <result property="userBalance"    column="user_balance"    />
        <result property="unionPayId"    column="union_pay_id"    />
        <result property="userName"    column="user_name"    />
        <result property="userPay"    column="user_pay"    />
        <result property="userAccount"    column="user_account"    />
        <result property="cashDescribe"    column="cash_describe"    />
        <result property="gameId"    column="game_id"    />
        <result property="gameName"    column="game_name"    />
        <result property="house"    column="house"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="hzId"    column="hz_id"    />
        <result property="commissionFromUserId"    column="commission_from_user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.PostalListRespVO" id="PostalListResult">
        <result property="id"    column="id"    />
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="cashTime"    column="cash_time"    />
        <result property="cashMoney"    column="cash_money"    />
        <result property="type"    column="type"    />
        <result property="userBalance"    column="user_balance"    />
        <result property="userAccount"    column="user_account"    />
        <result property="remark"    column="remark"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.RechargeListRespVO" id="RechargeListResult">
        <result property="id"    column="id"    />
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="cashTime"    column="cash_time"    />
        <result property="cashMoney"    column="cash_money"    />
        <result property="type"    column="type"    />
        <result property="userBalance"    column="user_balance"    />
        <result property="userAccount"    column="user_account"    />
        <result property="remark"    column="remark"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.UserMoneyUpTotalListRespVO" id="UserMoneyUpTotalListResult">
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="cashMoney"    column="cash_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.UserMoneyDownTotalListRespVO" id="UserMoneyDownTotalListResult">
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="cashMoney"    column="cash_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.CommissionListRespVO" id="CommissionListResult">
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="cashTime"    column="cash_time"    />
        <result property="cashMoney"    column="cash_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.WeekUpDownMoneyRespVO" id="WeekUpDownMoneyListResult">
        <result property="cashDay"    column="cash_day"    />
        <result property="cashMoney"    column="cash_money"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.domain.vo.UserMoneyDetailListRespVO" id="UserMoneyDetailListResult">
        <result property="userId"       column="user_id"      />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="remarkName"     column="remark_name"    />
        <result property="avatar"     column="avatar"    />
        <result property="id"     column="id"    />
        <result property="beforeUserMoney"     column="before_user_money"    />
        <result property="cashMoney"    column="cash_money"    />
        <result property="userBalance"     column="user_balance"    />
        <result property="remark"     column="remark"    />
        <result property="type"    column="type"    />
        <result property="cashTime"    column="cash_time"    />
    </resultMap>

    <sql id="selectUsermoneyVo">
        select id, user_id, cash_content, cash_time, cash_money, type, user_balance, union_pay_id, user_name, user_pay, user_account, cash_describe, game_id, game_name, house, is_delete, hz_id, commission_from_user_id, create_by, create_time, update_by, update_time, remark from usermoney
    </sql>

    <select id="selectUsermoneyList" parameterType="Usermoney" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="cashContent != null  and cashContent != ''"> and cash_content = #{cashContent}</if>
            <if test="cashTime != null "> and cash_time = #{cashTime}</if>
            <if test="cashMoney != null "> and cash_money = #{cashMoney}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="userBalance != null "> and user_balance = #{userBalance}</if>
            <if test="unionPayId != null "> and union_pay_id = #{unionPayId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="userPay != null  and userPay != ''"> and user_pay = #{userPay}</if>
            <if test="userAccount != null  and userAccount != ''"> and user_account = #{userAccount}</if>
            <if test="cashDescribe != null  and cashDescribe != ''"> and cash_describe = #{cashDescribe}</if>
            <if test="gameId != null "> and game_id = #{gameId}</if>
            <if test="gameName != null  and gameName != ''"> and game_name like concat('%', #{gameName}, '%')</if>
            <if test="house != null "> and house = #{house}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
            <if test="hzId != null  and hzId != ''"> and hz_id = #{hzId}</if>
            <if test="commissionFromUserId != null"> and commission_from_user_id = #{commissionFromUserId}</if>
        </where>
    </select>
    
    <select id="selectUsermoneyById" parameterType="Long" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUsermoney" parameterType="Usermoney" useGeneratedKeys="true" keyProperty="id">
        insert into usermoney(
            <if test="userId != null">user_id,</if>
            <if test="cashContent != null">cash_content,</if>
            <if test="cashMoney != null">cash_money,</if>
            <if test="type != null">type,</if>
            <if test="userBalance != null">user_balance,</if>
            <if test="unionPayId != null">union_pay_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="userPay != null">user_pay,</if>
            <if test="userAccount != null">user_account,</if>
            <if test="cashDescribe != null">cash_describe,</if>
            <if test="gameId != null">game_id,</if>
            <if test="gameName != null">game_name,</if>
            <if test="house != null">house,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="hzId != null and hzId != ''">hz_id,</if>
            <if test="commissionFromUserId != null">commission_from_user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            cash_time,
            create_time,
            update_time
        )values(
            <if test="userId != null">#{userId},</if>
            <if test="cashContent != null">#{cashContent},</if>
            <if test="cashMoney != null">#{cashMoney},</if>
            <if test="type != null">#{type},</if>
            <if test="userBalance != null">#{userBalance},</if>
            <if test="unionPayId != null">#{unionPayId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userPay != null">#{userPay},</if>
            <if test="userAccount != null">#{userAccount},</if>
            <if test="cashDescribe != null">#{cashDescribe},</if>
            <if test="gameId != null">#{gameId},</if>
            <if test="gameName != null">#{gameName},</if>
            <if test="house != null">#{house},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
            <if test="hzId != null and hzId != ''">#{hzId},</if>
            <if test="commissionFromUserId != null">#{commissionFromUserId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate(),
            sysdate(),
            sysdate()
        )
    </insert>

    <update id="updateUsermoney" parameterType="Usermoney">
        update usermoney
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cashContent != null">cash_content = #{cashContent},</if>
            <if test="cashMoney != null">cash_money = #{cashMoney},</if>
            <if test="type != null">type = #{type},</if>
            <if test="userBalance != null">user_balance = #{userBalance},</if>
            <if test="unionPayId != null">union_pay_id = #{unionPayId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userPay != null">user_pay = #{userPay},</if>
            <if test="userAccount != null">user_account = #{userAccount},</if>
            <if test="cashDescribe != null">cash_describe = #{cashDescribe},</if>
            <if test="gameId != null">game_id = #{gameId},</if>
            <if test="gameName != null">game_name = #{gameName},</if>
            <if test="house != null">house = #{house},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="hzId != null and hzId != ''">hz_id = #{hzId},</if>
            <if test="commissionFromUserId != null">commission_from_user_id = #{commissionFromUserId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUsermoneyById" parameterType="Long">
        delete from usermoney where id = #{id}
    </delete>

    <delete id="deleteUsermoneyByIds" parameterType="Long">
        delete from usermoney where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectUserChangeList" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        where user_id = #{userId}
        and `type` in('1','2','3')
        <if test="filterDateFrom != null and filterDateFrom != ''">
            and DATE_FORMAT(cash_time, '%Y-%m-%d') &gt;= #{filterDateFrom}
        </if>
        <if test="filterDateTo != null and filterDateTo != ''">
            and DATE_FORMAT(cash_time, '%Y-%m-%d') &lt;= #{filterDateTo}
        </if>
        order by cash_time desc
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <select id="selectTodayPostalList" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        where user_id = #{userId}
        and `type` in('5')
        and DATE_FORMAT(cash_time, '%Y-%m-%d') = DATE_FORMAT(CURDATE(), '%Y-%m-%d')
    </select>

    <select id="selectUserPostalList" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        where user_id = #{userId}
        and `type` in('4','5','6')
        <if test="filterDateFrom != null and filterDateFrom != ''">
            and DATE_FORMAT(cash_time, '%Y-%m-%d') &gt;= #{filterDateFrom}
        </if>
        <if test="filterDateTo != null and filterDateTo != ''">
            and DATE_FORMAT(cash_time, '%Y-%m-%d') &lt;= #{filterDateTo}
        </if>
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <update id="clearUsermoneyInfo" parameterType="Long">
        update usermoney
        SET  is_delete = '1'
        WHERE
            user_id = #{userId}
        and is_delete = '0'
    </update>

    <select id="selectValidUsermoneyList" resultMap="UsermoneyResult">
        <include refid="selectUsermoneyVo"/>
        where user_id = #{userId}
        <if test="filterDate != null and filterDate != ''">
            and DATE_FORMAT(cash_time, '%Y-%m-%d') = #{filterDate}
        </if>
        <if test="type != null and type != ''">
            and `type` = #{type}
        </if>
        order by id desc
        <if test="pageNumber != null">
            limit #{pageNumber} , #{pageRowCount}
        </if>
    </select>

    <select id="selectPostalList" parameterType="com.ruoyi.system.domain.vo.PostalListReqVO" resultMap="PostalListResult">
        select
             u.user_id as user_id
            ,u.nick_name as nick_name
            ,u.real_name as real_name
            ,u.remark_name as remark_name
            ,um.id as id
            ,um.cash_time as cash_time
            ,um.cash_money as cash_money
            ,um.type as type
            ,um.user_balance as user_balance
            ,um.user_account as user_account
            ,um.remark as remark
            ,um.update_by as update_by
            ,um.update_time as update_time
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where 1 = 1
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="filterDate != null and filterDate != ''">
            and DATE_FORMAT(um.cash_time, '%Y-%m-%d') = #{filterDate}
        </if>
        <if test="postalStatus != null "> and um.type = #{postalStatus}</if>
        <if test="postalStatus == null "> and um.type in('4','5','6')</if>
        <if test="params.dataScope != null and params.dataScope != ''">
            ${params.dataScope}
        </if>
        <if test="params.dataScope == null or params.dataScope == ''">
            order by um.cash_time desc,um.id desc
        </if>
    </select>

    <select id="selectRechargeList" parameterType="com.ruoyi.system.domain.vo.RechargeListReqVO" resultMap="RechargeListResult">
        select
             u.user_id as user_id
            ,u.nick_name as nick_name
            ,u.real_name as real_name
            ,u.remark_name as remark_name
            ,um.id as id
            ,um.cash_time as cash_time
            ,um.cash_money as cash_money
            ,um.type as type
            ,um.user_balance as user_balance
            ,um.user_account as user_account
            ,um.remark as remark
            ,um.update_by as update_by
            ,um.update_time as update_time
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where 1 = 1
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="filterDate != null and filterDate != ''">
            and DATE_FORMAT(um.cash_time, '%Y-%m-%d') = #{filterDate}
        </if>
        <if test="rechargeStatus != null and rechargeStatus == '1'.toString() "> and um.type in('1','17')</if>
        <if test="rechargeStatus != null and rechargeStatus == '2'.toString() "> and um.type in('2','18')</if>
        <if test="rechargeStatus != null and rechargeStatus == '3'.toString() "> and um.type in('3','19')</if>
        <if test="rechargeStatus == null "> and um.type in('1','2','3','17','18','19')</if>
        <if test="params.dataScope != null and params.dataScope != ''">
            ${params.dataScope}
        </if>
        <if test="params.dataScope == null or params.dataScope == ''">
            order by um.cash_time desc,um.id desc
        </if>
    </select>

    <select id="selectUserMoneyUpTotalList" parameterType="Usermoney" resultMap="UserMoneyUpTotalListResult">
        select
             u.user_id as user_id
            ,max(u.nick_name) as nick_name
            ,max(u.real_name) as real_name
            ,max(u.remark_name) as remark_name
            ,sum(um.cash_money) as cash_money
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where um.type in ('2','18')
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        group by u.user_id
    </select>

    <select id="selectUserMoneyDownTotalList" parameterType="Usermoney" resultMap="UserMoneyDownTotalListResult">
        select
             u.user_id as user_id
            ,max(u.nick_name) as nick_name
            ,max(u.real_name) as real_name
            ,max(u.remark_name) as remark_name
            ,sum(um.cash_money) as cash_money
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where um.type = '5'
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        group by u.user_id
    </select>

    <select id="selectCommissionList" parameterType="Usermoney" resultMap="CommissionListResult">
        select
             u.user_id as user_id
            ,max(u.nick_name) as nick_name
            ,max(u.real_name) as real_name
            ,max(u.remark_name) as remark_name
            ,um.cash_time as cash_time
            ,sum(um.cash_money) as cash_money
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where um.type = '11'
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="!includeTestUserFlg">and u.is_test = '0'</if>
        group by u.user_id,um.cash_time
    </select>

    <select id="selectWeekUpDownMoneyList" parameterType="String" resultMap="WeekUpDownMoneyListResult">
        SELECT
            date_format( um.cash_time, '%m-%d' ) AS cash_day
            ,sum( cash_money ) AS cash_money
        FROM
            usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0' and u.is_test = '0'
        WHERE
            date_format( um.cash_time, '%y%m%d' ) >= date_format( CURDATE() - INTERVAL 6 DAY, '%y%m%d' )
        AND um.type = #{type}
        GROUP BY um.cash_time
    </select>

    <select id="selectUserMoneyDetailList" parameterType="Usermoney" resultMap="UserMoneyDetailListResult">
        select
             u.user_id as user_id
            ,u.nick_name as nick_name
            ,u.real_name as real_name
            ,u.remark_name as remark_name
            ,u.avatar as avatar
            ,um.id as id
            ,um.user_balance - (CASE
                <if test="commissionTransferFlag != null and commissionTransferFlag == '1'.toString() ">
                    WHEN um.type in('11') then 0
                </if>
                WHEN um.type in('1','2','6','8','16','17','18','11','111') then 1 else -1 end * um.cash_money)  as before_user_money
            ,CASE
                <if test="commissionTransferFlag != null and commissionTransferFlag == '1'.toString() ">
                    WHEN um.type in('11') then 0
                </if>
                WHEN um.type in('1','2','6','8','16','17','18','11','111') then 1 else -1 end * um.cash_money as cash_money
            ,um.user_balance as user_balance
            ,um.remark as remark
            ,um.type as type
            ,um.create_time as cash_time
        from  usermoney um
        inner join sys_user u on u.user_id = um.user_id and u.del_flag = '0'
        where um.is_delete = '0'
        <if test="commissionTransferFlag != null and commissionTransferFlag == '1'.toString() ">
            AND um.type != '11'
        </if>
        <if test="userId != null "> and um.user_id = #{userId}</if>
        <if test="nickName != null and nickName != ''">
            AND CONCAT(IFNULL(u.nick_name,''), IFNULL(u.remark_name,'')) like concat('%', #{nickName}, '%')
        </if>
        <if test="params != null and params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params != null and params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(um.cash_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="type != null and type != ''"><!-- 类型 -->
            and um.type =  #{type}
        </if>
        <if test="!includeTestUserFlg">and u.is_test = '0'</if>
        ORDER BY um.id DESC
    </select>

    <update id="updateUpDownAmount" parameterType="Usermoney">
        update usermoney
        set cash_money = #{cashMoney}
        ,user_balance = #{userBalance}
        where id = #{id}
    </update>

    <select id="selectUserGameWinMoneyByPeriods" resultType="Float">
        SELECT
            IFNULL(bet_temp.win_money_total,0) as win_money_total
        FROM sys_user u
        LEFT JOIN
        (
            SELECT
                 r.user_id as user_id
                , SUM(CASE WHEN r.settle_flg = '1' then r.account_result else 0 end)-SUM(r.money)  as win_money_total
            FROM `bet_record` r
            WHERE r.is_delete = '0'
                AND r.is_robot = '0'
                <if test="gameId != null "> and r.game_id = #{gameId}</if>
                <if test="userId != null "> and r.user_id = #{userId}</if>
                <if test="periods != null "> and r.periods = #{periods}</if>
            GROUP BY r.user_id
        )bet_temp ON bet_temp.user_id = u.user_id
        where u.del_flag = '0'
        and u.user_id = #{userId}
    </select>
</mapper>